.basic1 {
  color: white;
  background: url(music-g870e819f8_640.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  /* background-image: linear-gradient(blue, red); */
}
.body {
  margin: 0mm;
  gap: 0mm;
}
.basic2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 10%;
}
.quotation {
  display: block;
  /* flex-direction: row; */
  /* justify-content: flex-end; */
  font-weight: 600;
  margin: 0px 0px 0px 70%;
  padding: 0mm 0mm 1em 1em;
}
.sing {
  display: flex;
  justify-content: center;
  margin: 0% 0% 0px 20%;
  background-color: blue;
  color: white;
  font-size: 14px;
  padding: 4px 1em 4px 1em;
  border-radius: 8px;
  font-size: 20px;
}
input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  margin-left: 30%;
}
.upload {
  display: flex;
  justify-content: center;
  margin: 0% 0% 0px 20%;
  background-color: blue;
  color: white;
  font-weight: 300;
  padding: 2px 1em 2px 1em;
  border-radius: 15px;
}
.loading {
  display: flex;
  justify-content: center;
  margin: 0% 0% 0px 20%;
  background-color: gray;
  color: white;
  font-weight: 300;
  padding: 2px 1em 2px 1em;
  border-radius: 15px;
}
.header {
  align-items: center;
  flex-grow: 1;
  margin-left: 20%;
}
.hero {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 90px 0px;
}
.content {
  display: inline-flex;
  margin-left: 20%;
  width: 200px;
  flex-wrap: wrap;
  margin-bottom: 0mm;
}
.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
  justify-content: center;
  display: flex;
}
.message {
  display: flex;
  gap: 52px;
  justify-content: center;
}
.info {
  max-width: 200px;
}
.testimonial {
  height: 200px;
  background: #eeee;
  color: black;
  /* align-items: center; */
  /* justify-content: center; */
  display: block;
  font-size: 22px;
  font-weight: 500;
  /* flex-wrap: wrap; */
}
.footer {
  height: 100px;
  background: grey;
  color: black;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  /* font-size: 22px; */
  /* font-weight: 500; */
}
.texttee {
  display: flex;
  margin-left: 0%;
  width: 400px;
  flex-wrap: wrap;
  margin-bottom: 1mm;
  margin-top: 1mm;
}
.middle {
  height: 400px;
  background: whitesmoke;
  color: black;
  margin-bottom: 20px;
  /* border: 0.5mm dotted rgb(65, 62, 62); */
  /* justify-content: center; */
  /* display: flex; */
}
.infom {
  flex-direction: row;
  /* max-width: 200px; */
  justify-content: center;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 200px;
  margin-bottom: 90px;
}
.img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
.calltoaction {
  background-color: gray;
  height: 160px;
  /* background: whitesmoke; */
  color: white;
  margin: 5em;
  border-radius: 15px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.musdo {
  width: 700px;
  display: block;
  margin: 20px 0px 0px 20%;
  padding: 2em 0mm 0mm 0mm;
  /* flex-direction: column; */
}
.writeup {
  width: 450px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  margin-right: 200px;
}
